<html>
  <head>
    <title>JavaScript &amp; javascript Flashcards</title>
     <script src="~/js/flashcards.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/css/flashcards.css" asp-append-version="true" />
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>
      <httpProtocol></httpProtocol>

      <customHeaders>

        <clear />

        <add name="Access-Control-Allow-Origin" value="*" />

      </customHeaders>
    </httpProtocol>

  </head>
  <body>
  <div class="wrap-container">
    <div class="container-fluid">

    <div class="head">
        Perguntas para o exame CCNA 
    </div>

    <div class="section">
      <button type="button" class="btn btn-default" id="question">Ver perguntas</button>
    <div class="row">
     
    <div class="col-md-4" > </div>
    <div class="flashcard col-md-4" >
      <br>
      <br>
      <img src="" id="card" class="img-responsive">
      <br>
      <br>
    </div>

    <div class="col-md-4" > </div>

   </div>
      <button type="button" class="btn btn-default" id="checkanswer">Ver reposta</button>
  </div>

 </div>  
  </div>  
  </body>




</html>
